.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.bar {
  display: flex;
  flex-direction: column;
}

.UserSideBar {
  flex: 0 0 4%;
  background-color: rgb(24, 22, 22);
}

.MainSideBar {
  flex: 0 0 30%;
  background-color: rgb(24, 22, 22);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-friend-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.underline {
  width: 100%;
  height: 2px;
  background-color: white;

}

.ChatBox {
  flex: 0 0 51%;
  background-color: rgb(45, 40, 40);
}

.FriendsBox {
  flex: 0 0 15%;
  background-color: rgb(45, 40, 40);
}

.white-text {
  color: white;
}

.centered-text {
  text-align: center;
}


.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}


/* CHat BOX */


.ChatBox {
  display: flex;
  flex-direction: column;
  flex: 0 0 51%;
  background-color: rgb(45, 40, 40);
}

.chat-participants {
  padding: 10px;
  background-color: #eee;
  text-align: center;
}

.chat-history {
  flex-grow: 1;
  overflow-y: scroll;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.chat-input-field {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.chat-submit-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: #0084ff;
  border: 1px solid #0084ff;
}

.chat-history {
  overflow-y: auto;
  max-height: 400px;
  margin-bottom: 10px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.sent-message,
.received-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  max-width: 70%;
}

.sent-message {
  align-self: flex-start;
}

.received-message {
  align-self: flex-start;
}

.message-avatar {
  margin-right: 5px;
}

.message-info {
  display: flex;
  flex-direction: column;
  color: #eee;

}

.message-info p {
  margin: 0;
}


.chat-input {
  display: flex;
  align-items: center;
}

.chat-input-field {
  flex-grow: 1;
  margin-right: 5px;
}






